


body{
  background-image: url(img/beach.png);
  background-size: 100%;
  background-repeat:no-repeat;
}

#connexion{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  opacity: 70%;
  position: absolute;
  top:160px;
  left: 200px;
  width:75%;
  height:100%;
}

.menu{
  display: none;
}

#textconnexion{
  font-family: fantasy;
  text-align: center;
}

#connecter{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  margin-top: 80px;
  align-items: center;
  border: solid 2px;
  border-color:#7b756a;
  border-radius: 50px 50px 50px 50px;
  height: 40%;
  width: 70%;
}

#menu3{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  margin-top: 80px;
  align-items: center;
  border: solid 2px;
  border-color:#7b756a;
  border-radius: 50px 50px 50px 50px;
  height: 40%;
  width: 70%;
}

.creation{
  display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    border-color:#7b756a;
    border-radius: 50px 50px 50px 50px;
    height: 10%;
    width: 70%;
}

#visiteur
{display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-color:#7b756a;
  border-radius: 50px 50px 50px 50px;
  height: 6%;
  width: 70%;
}

#deconnexion
{display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-color:#7b756a;
  border-radius: 50px 50px 50px 50px;
  height: 6%;
  width: 70%;
}

#buttonconnect{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

header{
background-color: white;
opacity: 70%;
width: 100%;
height: 140px;
top:20px;
}

.textheader{font-size: 60px;
color:#7b756a;
font-family: fantasy;
position: absolute;
top:20px;
bottom:20px;
left:500px;
}

.smalltext{
  font-size:15px;
  color:#7b756a;
  font-family: fantasy;
  position: absolute;
  top:75px;
  bottom:20px;
  left:980px;}

  .info {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 122%;
  }

  #logo {
    position: absolute;
    left: 174px;
    bottom: 637px;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    width: 72px;
    height: 161px;
    background-size: 100%;
  }

  @-webkit-keyframes rotation {
        from{
            -webkit-transform: rotate(360deg);
        }
        to{
            -webkit-transform: rotate(0deg);
        }
    }

    .rotation {
        -webkit-animation: rotation 3s linear infinite;
    }

  #menu{
    color:#7b756a
    font-size: 15px;
    position: absolute;
    left: 18px;
    top:130px;
    position: fixed;
  background-color: white;
  opacity: 75%;
  height: 75px;
  width: 130px;
  text-align: center;


#compte
{display: none;
  float:left;
  background-color: white;
}

#creationCompte
{display: none;
  float:left;
  background-color: white;
}
